<main class="main">
  <div class="content">
    <div class="tabs-container">
      <app-filter-tab
        style="flex: 3"
        [tabs]="productTypeTabs"
        (tabSelected$)="productTypeTabSelected($event)"
      ></app-filter-tab>
      <app-filter-tab
        style="flex: 2"
        [tabs]="stateTabs"
        (tabSelected$)="stateTabSelected($event)"
      ></app-filter-tab>
      <app-filter-tab
        style="flex: 2"
        [tabs]="extraTabs"
        (tabSelected$)="extraTabSelected($event)"
      ></app-filter-tab>
    </div>
    <ag-grid-angular
      class="ag-theme-quartz"
      style="height: 800px; width: 100%"
      [columnDefs]="columnDefs"
      [gridOptions]="options"
      [rowData]="[]"
    />
  </div>
</main>
<router-outlet />
